<!DOCTYPE HTML>
<html>
{%load static%}
<head>
<title>Marital an Wedding Category Flat Bootstarp Resposive Website Template | View_profile :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Marital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
</head>
<body>
<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
			   <ul>
				<li class="green">
					<a href="#" class="icon-home"></a>
					<ul>
						<li><a href="login.html">Login</a></li>
					    <li><a href="{% url 'registration' %}">Register</a></li>
					    <li><a href="{% url 'log_in' %}">Logout</a></li>
					</ul>
				</li>
			   </ul>
             </nav>
           </div>
           <a class="brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">

		 <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		   </div>
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		        <ul class="nav navbar-nav nav_1">
		            <li><a href="{% url 'index' %}">Home</a></li>
		            <li><a href="{% url 'about' %}">About</a></li>
		    		<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="matches.html">New Matches</a></li>
		                <li><a href="viewed-profile.html">Who Viewed my Profile</a></li>
		                <li><a href="viewed-not_contacted.html">Viewed & not Contacted</a></li>
		                <li><a href="members.html">Premium Members</a></li>
		                <li><a href="shortlisted.html">Shortlisted Profile</a></li>
		              </ul>
		            </li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="search.html">Regular Search</a></li>
		                <li><a href="profile.html">Recently Viewed Profiles</a></li>
		                <li><a href="search-id.html">Search By Profile ID</a></li>
		                <li><a href="faq.html">Faq</a></li>
		                <li><a href="shortcodes.html">Shortcodes</a></li>
		              </ul>
		            </li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="inbox.html">Inbox</a></li>
		                <li><a href="inbox.html">New</a></li>
		                <li><a href="inbox.html">Accepted</a></li>
		                <li><a href="sent.html">Sent</a></li>
		                <li><a href="upgrade.html">Upgrade</a></li>
		              </ul>
		            </li>
		            <li class="last"><a href="contact.html">Contacts</a></li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="{% url 'index' %}"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">View Profile</li>
     </ul>
   </div>

   <div class="profile">

   	 <div class="col-md-8 profile_left">
   	 	<h2>Profile Id : 254870</h2>

   	 	<div class="col_3">
   	        <div class="col-sm-4 row_2">
				<div class="flexslider">
					 <ul class="slides">
						<li data-thumb="{% static 'images/p1.jpg' %}">
							<img src="{% static 'images/p1.jpg' %}" />
						</li>
						<li data-thumb="{% static 'images/p2.jpg' %}">
							<img src="{% static 'images/p2.jpg' %}" />
						</li>
						<li data-thumb="{% static 'images/p3.jpg' %}">
							<img src="{% static 'images/p3.jpg' %}" />
						</li>
						<li data-thumb="{% static 'images/p4.jpg' %}">
							<img src="{% static 'images/p4.jpg' %}" />
						</li>
					 </ul>
				  </div>
			</div>
			<div class="col-sm-8 row_1">
				<table class="table_working_hours">
					<form method="post">
						{% csrf_token %}
		        	<tbody>
		        		<tr class="opened_1">
							<td class="day_label">First Name:</td>
							<td class="day_value"><input type="text" name="first_name"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Last Name:</td>
							<td class="day_value"><input type="text" name="last_name"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Contact:</td>
							<td class="day_value"><input type="text" name="primary_contact"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Alternate Contact:</td>
							<td class="day_value"><input type="text" name="alternate_contact"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Email:</td>
							<td class="day_value">{{user.email}}</td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Date Of Birth:</td>
							<td class="day_value"><input type="date" name="dob"></td>
						</tr>
						<tr class="opened">
									<td class="day_label">Mother Tongue :</td>
									<td class="day_value"><select name="mother_tounge">
							<option value="none" selected>Select</option>
							<option value="">Marathi</option>
							<option value="">Rajasthani</option>
							<option value="">Panjabi</option>
							<option value="">Tamil</option>
							<option value="">Kannada</option>
							<option value="">Hindi</option>
							<option value="">Gujarati</option>
						</select></td>
								</tr>
					    <tr class="opened">
							<td class="day_label">Location :</td>
							<td class="day_value"><select name="location">
							<option value="none" selected>Country</option>
							<option value="">India</option>
							<option value="">Pakistan</option>
							<option value="">America</option>
						</select></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Gender:</td>
							<td class="day_value"><input type="text" name="gender"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Marital Status:</td>
							<td class="day_value"><input type="text" name="marital_status"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Aboout Profile:</td>
							<td class="day_value"><input type="text" name="about_profile"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Main Origin:</td>
							<td class="day_value"><input type="text" name="main_origin"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Updated At:</td>
							<td class="day_value"><input type="text" name="update_at"></td>
						</tr>
				    </tbody>
					</form>
				</table>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="col_4">
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			   <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
				  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About Myself</a></li>
				  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Family Details</a></li>
				  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Partner Preference</a></li>
			   </ul>

			   <div id="myTabContent" class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
					  <form method="post">
						{% csrf_token %}
				    <div class="basic_1">
				    	<h3>Basics & Lifestyle</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">

				        	<tbody>
							    <tr class="opened">
									<td class="day_label">Height :</td>
									<td class="day_value"><input type="text" name="height"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value"><input type="text" name="body_type"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drink :</td>
									<td class="day_value closed"><input type="text" name="drink_habbit"></td>
								</tr>
								<tr class="closed">
									<td class="day_label">Smoke :</td>
									<td class="day_value closed"><input type="text" name="smoke_habbit"></td>
								</tr>
						    </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>

							    <tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value"><input type="text" name="complexion"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Weight :</td>
									<td class="day_value"><input type="text" name="weight"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Blood Group :</td>
									<td class="day_value"><input type="text" name="blood_group"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At :</td>
									<td class="day_value"><input type="text" name="physical_detail_updated_at"></td>
								</tr>
						    </tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1">
				    	<h3>Religious / Social & Astro Background</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value"><input type="text" name="caste"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Star :</td>
									<td class="day_value"><input type="text" name="star"></td>
								</tr>
							   <tr class="opened">
									<td class="day_label">Raasi :</td>
									<td class="day_value"><select name="rashi">
							<option value="none" selected>Select</option>
							<option value="">Mesha</option>
							<option value="">Vishakha</option>
							<option value="">Mithun</option>
							<option value="">Karka</option>
							<option value="">Sinh</option>
							<option value="">Kanya</option>
							<option value="">Tula</option>
							<option value="">Vruchika</option>
							<option value="">Dhanu</option>
							<option value="">Makar</option>
							<option value="">Kumbha</option>
							<option value="">Meena</option>
						</select></td>
								</tr>
							<tr class="opened">
							<td class="day_label">Religion :</td>
							<td class="day_value"><select name="religion">
							<option value="none" selected>select</option>
							<option value="">Hindu</option>
							<option value="">Muslim</option>
							<option value="">Shikh</option>
							<option value="">Christian</option>
							<option value="">Jain</option>
						</select></td>
						</tr>
							 </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
							    <tr class="opened">
									<td class="day_label">Sub Caste :</td>
									<td class="day_value"><input type="text" name="sub_caste"></td>
								</tr>

							 <tr class="opened">
									<td class="day_label">Dosh :</td>
									<td class="day_value"><input type="text" name="dosh"></td>
								</tr>
							<tr class="opened">
									<td class="day_label">Manglik :</td>
									<td class="day_value"><input type="text" name="manglik"></td>
								</tr>
							<tr class="opened">
									<td class="day_label">Update At :</td>
									<td class="day_value"><input type="text" name="religious_update_at"></td>
								</tr>
							</tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1 basic_2">
				    	<h3>Education & Career</h3>
				    	<div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Heighest Education   :</td>
									<td class="day_value"><select name="heighst_education">
							<option value="none" selected>Select</option>
							<option value="">B.E</option>
							<option value="">M.E</option>
							<option value="">M.Sc</option>
							<option value="">MCA</option>
							<option value="">BCA</option>
							<option value="">B.Sc</option>
							<option value="">B.Com</option>
							<option value="">Arts</option>
							<option value="">MBBS</option>
							<option value="">MBA</option>
							<option value="">M.Pharm</option>
							<option value="">B.Tech</option>
							<option value="">M.Tech</option>
						</select></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Stream :</td>
									<td class="day_value closed"><input type="text" name="heighst_educatio_stream"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Profession :</td>
									<td class="day_value closed"><input type="text" name="profession"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Office Address</td>
									<td class="day_value closed"><input type="text" name="office_address"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Annual Income :</td>
									<td class="day_value closed"><select name="annual_income">
							<option value="none" selected>Select</option>
							<option value="">2,50,000 - 4,00,000</option>
							<option value="">4,00,000 - 8,00,000</option>
							<option value="">8,00,000 - 12,00,000</option>
							<option value="">12,00,000 - 16,00,000</option>
							<option value="">16,00,000 and Above</option>
						</select></td>
								</tr>
							<tr class="opened">
									<td class="day_label"> Update At</td>
									<td class="day_value closed"><input type="text" name="professional_detail_update_at"></td>
								</tr>
							 </tbody>
				          </table><br><br>

				         </div>

				         <div class="clearfix"> </div>
				    </div>
					  </form>
				  </div>


				  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				    <div class="basic_3">
				    	<div class="basic_1 basic_2"><br>
				    	<h3>Family Information</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <form method="post">
								{% csrf_token %}
							<table class="table_working_hours">
				        	<tbody>
								<tr class="opened">
									<td class="day_label">Total Family Member :</td>
									<td class="day_value"><input type="text" name="total_member_in_family"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">RelationShip :</td>
									<td class="day_value"><input type="text" name="relationship"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value closed"><input type="text" name="married_status"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Profession :</td>
									<td class="day_value closed"><input type="text" name="profession"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Family Type :</td>
									<td class="day_value"><input type="text" name="family_type"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Education :</td>
									<td class="day_value closed"><input type="text" name="education"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At :</td>
									<td class="day_value closed"><input type="text" name="update_at"></td>
								</tr>
							</tbody>
							</table>
						  </form>
							</div>
						</div>
				       </div>
				    </div>

				 <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
				    <div class="basic_1 basic_2">
				       <div class="basic_1-left">
				    	  <form method="POST">
								{% csrf_token %}
						   <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<tr class="opened">
									<td class="day_label">Minimum Age :</td>
									<td class="day_value"><input type="text" name="exp_min_age"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Maximum Age :</td>
									<td class="day_value"><input type="text" name="exp_max_age"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Expected Heigth :</td>
									<td class="day_value"><input type="text" name="exp_height"></td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value"><input type="text" name="exp_marital_status"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mother Tongue :</td>
									<td class="day_value closed"><select name="exp_mother_tounge">
							<option value="none" selected>Select</option>
							<option value="">Marathi</option>
							<option value="">Rajasthani</option>
							<option value="">Panjabi</option>
							<option value="">Tamil</option>
							<option value="">Kannada</option>
							<option value="">Hindi</option>
							<option value="">Gujarati</option>
						</select></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Eating Habit :</td>
									<td class="day_value closed"><input type="text" name="exp_eating_habit"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Smoke :</td>
									<td class="day_value closed"><input type="text" name="exp_smoking_habbit"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drik:</td>
									<td class="day_value closed"><input type="text" name="exp_drinking_habbit"></td>
								</tr>
								<tr class="opened">
							<td class="day_label">Religion :</td>
							<td class="day_value"><select name="exp_religion">
							<option value="none" selected>select</option>
							<option value="">Hindu</option>
							<option value="">Muslim</option>
							<option value="">Shikh</option>
							<option value="">Christian</option>
							<option value="">Jain</option>
									</select></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value closed"><input type="text" name="exp_caste"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Sub Caste :</td>
									<td class="day_value closed"><input type="text" name="exp_subcaste"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Star :</td>
									<td class="day_value closed"><input type="text" name="exp_star"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Dosh :</td>
									<td class="day_value closed"><input type="text" name="exp_dosh"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Rashi :</td>
									<td class="day_value closed"><input type="text" name="exp_rashi"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mangalik :</td>
									<td class="day_value closed"><input type="text" name="exp_mangalik"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Education :</td>
									<td class="day_value closed"><select name="exp_education">
							<option value="none" selected>Select</option>
							<option value="">B.E</option>
							<option value="">M.E</option>
							<option value="">M.Sc</option>
							<option value="">MCA</option>
							<option value="">BCA</option>
							<option value="">B.Sc</option>
							<option value="">B.Com</option>
							<option value="">Arts</option>
							<option value="">MBBS</option>
							<option value="">MBA</option>
							<option value="">M.Pharm</option>
							<option value="">B.Tech</option>
							<option value="">M.Tech</option>
						</select></td>
								</tr>
								<tr class="opened">
									<td class="day_label">City :</td>
									<td class="day_value closed"><input type="text" name="exp_city"></td>
								</tr>
							 </tbody>
							</table>
							<button type="submit">Update profile</button>
						  </form>
				          <br><br>

						   

						   <br><br><br><br><br>
				        </div>
				     </div>
				 </div>
		     </div>
		  </div>
		     </div>
		  </div>



<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>
<div class="footer">
    	<div class="container">
    		<div class="col-md-4 col_2">
    			<h4>About Us</h4>
    			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Help & Support</h4>
    			<ul class="footer_links">
    				<li><a href="#">24x7 Live help</a></li>
    				<li><a href="contact.html">Contact us</a></li>
    				<li><a href="#">Feedback</a></li>
    				<li><a href="faq.html">FAQs</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Quick Links</h4>
    			<ul class="footer_links">
    				<li><a href="privacy.html">Privacy Policy</a></li>
    				<li><a href="terms.html">Terms and Conditions</a></li>
    				<li><a href="services.html">Services</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Social</h4>
    			<ul class="footer_social">
				  <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
			    </ul>
    		</div>
    		<div class="clearfix"> </div>
    		<div class="copy">
		      <p>Copyright © 2015 Marital . All Rights Reserved  | Design by <a href="http://Cravitaindia.com/" target="_blank">Cravitaindia</a> </p>
	        </div>
    	</div>
</div>

<!-- FlexSlider -->
<script defer src="{% static '% js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
   </div>
  </div>
</body>
</html>