<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{%load static%}
<head>
<title>Marital an Wedding Category Flat Bootstarp Resposive Website Template | View_profile :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Marital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
</head>
<body>
<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
			   <ul>
				<li class="green">
					<a href="#" class="icon-home"></a>
					<ul>
						<li><a href="{% url 'log_in' %}">Login</a></li>
					    <li><a href="{% url 'registration' %}">Register</a></li>
					    <li><a href="{% url 'index' %}">Logout</a></li>
					</ul>
				</li>
			   </ul>
             </nav>
           </div>
           <a class="brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">

		 <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		   </div>
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		        <ul class="nav navbar-nav nav_1">
		            <li><a href="{% url 'index' %}">Home</a></li>
		            <li><a href="{% url 'about' %}">About</a></li>
		    		<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="{% url 'matches' %}">New Matches</a></li>
		                <li><a href="{% url 'viewed_profile' %}">Who Viewed my Profile</a></li>
		                <li><a href="{% url 'viewed_not_contacted' %}">Viewed & not Contacted</a></li>
		                <li><a href="{% url 'members' %}">Premium Members</a></li>
		                <li><a href="{% url 'shortlisted' %}">Shortlisted Profile</a></li>
		              </ul>
		            </li>


		            <li class="last"><a href="#">Contacts</a></li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->

<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="{% url 'index' %}"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">View Profile</li>
     </ul>
   </div>

   <div class="profile">
	   		{% for i in data %}
	<form class="abc" method="post">
	{{form.errors}}
	{% csrf_token %}

   	 <div class="col-md-8 profile_left">
   	 	<h2>Profile Id : 254870</h2>

   	 	<div class="col_3">
   	        <div class="col-sm-4 row_2">
				<div class="flexslider">
					 <ul class="slides">
						<li data-thumb="{% static 'images/p1.jpg' %}">
							<img src="{% static 'images/p1.jpg' %}" />
						</li>
					 </ul>
				  </div>
			</div>
			<div class="col-sm-8 row_1">
				<table class="table_working_hours">
		        	<tbody>
		        		<tr class="opened_1">
							<input type="hidden" name="id" value="{{i.id}}">
							<td class="day_label">First Name:</td>
							<td class="day_value"><input type="text" name="first_name" value={{i.user.first_name}}></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Last Name:</td>
							<td class="day_value"><input type="text" name=last_name value="{{i.user.last_name}}"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Primary Contact:</td>
							<td class="day_value"><input type="text" name="primary_contact" value="{{i.primary_contact}}"> </td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Alternate Contact:</td>
							<td class="day_value"><input type="text" name="alternate_contact" value="{{i.alternate_contact}}"> </td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Email:</td>
							<td class="day_value"><input type="text" name="email" value="{{i.user.email}}"></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Date Of Birth:</td>
							<td class="day_value"><input type="date" name="dob" value="{{i.dob}}"> </td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Mother Tounge:</td>
							<td class="day_value"><input type="text" name="mother_tounge" value="{{i.mother_tounge}}"> </td>
						</tr>
						<tr class="opened">
							<td class="day_label">Location :</td>
							<td class="day_value"><select name="location" value="{{i.location}}">
							<option value="none" selected>Country</option>
							<option value="">India</option>
							<option value="">Pakistan</option>
							<option value="">America</option>
						</select></td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Gender:</td>
							<td class="day_value"><input type="text" name="gender" value="{{i.gender}}"> </td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Marital Status:</td>
							<td class="day_value"><input type="text" name="marital_status" value="{{i.marital_status}}"> </td>
						</tr>
					    <tr class="opened_1">
							<td class="day_label">About Profile:</td>
							<td class="day_value"><input type="text" name="about_profile" value="{{i.about_profile}}"> </td>
						</tr>
						<tr class="opened_1">
							<td class="day_label">Main Origin:</td>
							<td class="day_value"><input type="text" name="main_origin" value="{{i.main_origin}}"> </td>
						</tr>

						<tr class="opened_1">
							<td class="day_label">Update At:</td>
							<td class="day_value"><input type="text" name="update_at" value="{{i.update_at}}"> </td>
						</tr>
				    </tbody>
				</table>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="col_4">
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			   <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
				  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About Myself</a></li>
				  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Family Details</a></li>
				  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Partner Preference</a></li>
			   </ul>

			   <div id="myTabContent" class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
				    <div class="basic_1">
				    	<h3>Basics & Lifestyle</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">

				        	<tbody>

								<tr class="opened">
									<td class="day_label">Height :</td>
									<td class="day_value"><input type="text" name="height" value="{{i.physical_details.height}}"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Blood Group :</td>
									<td class="day_value"><input type="text" name="blood_group" value="{{i.physical_details.blood_group}}"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Smoke :</td>
									<td class="day_value"><input type="text" name="smoke_habbit" value="{{i.physical_details.smoke_habbit}}"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value"><input type="text" name="complexion" value="{{i.physical_details.complexion}}"></td>
								</tr>
						    </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Weight :</td>
									<td class="day_value"><input type="text" name="weight" value="{{i.physical_details.weight}}"></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value"><input type="text" name="body_type" ></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drink :</td>
									<td class="day_value"><input type="text" name="drinking_habbit"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At :</td>
									<td class="day_value"><input type="text" name="physical_detail_updated_at"></td>
								</tr>
						    </tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1">
				    	<h3>Religious / Social & Astro Background</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Religion :</td>
									<td class="day_value"><input type="text" name="religion"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value"><input type="text" name="caste"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Sub Caste :</td>
									<td class="day_value"><input type="text" name="subcaste"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Star :</td>
									<td class="day_value"><input type="text" name="star"></td>
								</tr>
							 </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
							    <tr class="opened">
									<td class="day_label">Raasi :</td>
									<td class="day_value"><select name="raasi">
							<option value="none" selected>Select</option>
							<option value="">Mesha</option>
							<option value="">Vishakha</option>
							<option value="">Mithun</option>
							<option value="">Karka</option>
							<option value="">Sinh</option>
							<option value="">Kanya</option>
							<option value="">Tula</option>
							<option value="">Vruchika</option>
							<option value="">Dhanu</option>
							<option value="">Makar</option>
							<option value="">Kumbha</option>
							<option value="">Meena</option>
							</select></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Dosh :</td>
									<td class="day_value"><input type="text" name="dosh"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mangalik :</td>
									<td class="day_value"><input type="text" name="manglik"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At :</td>
									<td class="day_value"><input type="text" name="religious_update_at"></td>
								</tr>
							</tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1 basic_2">
				    	<h3>Education & Career</h3>
				    	<div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Heighest Education   :</td>
									<td class="day_value"><select name="heighst_education">
							<option value="none" selected>Select</option>
							<option value="">B.E</option>
							<option value="">M.E</option>
							<option value="">M.Sc</option>
							<option value="">MCA</option>
							<option value="">BCA</option>
							<option value="">B.Sc</option>
							<option value="">B.Com</option>
							<option value="">Arts</option>
							<option value="">MBBS</option>
							<option value="">MBA</option>
							<option value="">M.Pharm</option>
							<option value="">B.Tech</option>
							<option value="">M.Tech</option>
						</select></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Stream :</td>
									<td class="day_value closed"><span><input type="text" name="heighst_educatio_stream"></span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Profession :</td>
									<td class="day_value closed"><span><input type="text" name="profession"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Office Address</td>
									<td class="day_value closed"><span><input type="text" name="office_address"></span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Annual Income :</td>
									<td class="day_value closed"><span><select name="annual_income">
									<option value="none" selected>Select</option>
									<option value="">2,50,000 - 4,00,000</option>
									<option value="">4,00,000 - 8,00,000</option>
									<option value="">8,00,000 - 12,00,000</option>
									<option value="">12,00,000 - 16,00,000</option>
									<option value="">16,00,000 and Above</option>
									</select></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At</td>
									<td class="day_value closed"><span><input type="text" name="professional_detail_update_at"></span></td>
								</tr>
							 </tbody>
				          </table><br><br>

				         </div>

				         <div class="clearfix"> </div>
				    </div>
				  </div>


				  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				    <div class="basic_3">
				    	<div class="basic_1 basic_2"><br>
				    	<h3>Family Information</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
								<tr class="opened">
									<td class="day_label">Total Family Member :</td>
									<td class="day_value"><input type="text" name="total_member_in_family"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Relationship:</td>
									<td class="day_value"><input type="text" name="relationship"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Married Status :</td>
									<td class="day_value"><input type="text" name="married_status"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Family Type :</td>
									<td class="day_value"><input type="text" name="family_type"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Education :</td>
									<td class="day_value"><input type="text" name="education"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At :</td>
									<td class="day_value"><input type="text" name="family_info_update_at"></td>
								</tr>

								<tr class="opened">
									<td class="day_label">Citizenship :</td>
									<td class="day_value closed"><span><input type="text" name="citizenship"></span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Address Type :</td>
									<td class="day_value closed"><span><input type="text" name="address_type"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Address :</td>
									<td class="day_value closed"><span><input type="text" name="address"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">City :</td>
									<td class="day_value closed"><span><input type="text" name="city"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Pincode :</td>
									<td class="day_value closed"><span><input type="text" name="pincode"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">State :</td>
									<td class="day_value closed"><span><input type="text" name="state"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Country :</td>
									<td class="day_value closed"><span><input type="text" name="country"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Update At</td>
									<td class="day_value closed"><span><input type="text" name="address_update_at"></span></td>
								</tr>
							</tbody>
						  </table>
							<br><br>
						</div>
				       </div>
				    </div>


				 </div>
				 <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
				    <div class="basic_1 basic_2">
				       <div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Minimum Age  :</td>
									<td class="day_value"><input type="text" name="exp_min_age"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Maxiumum Age  :</td>
									<td class="day_value"><input type="text" name="exp_max_age"></td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value"><input type="text" name="exp_marital_status"></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Expected Height:</td>
									<td class="day_value closed"><span><input type="text" name="exp_height"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mother Tongue :</td>
									<td class="day_value closed"><span><select name="exp_mother_tounge">
										<option value="none" selected>Select</option>
										<option value="">Marathi</option>
										<option value="">Rajasthani</option>
										<option value="">Panjabi</option>
										<option value="">Tamil</option>
										<option value="">Kannada</option>
										<option value="">Hindi</option>
										<option value="">Gujarati</option>
										</select></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Eating Habbit :</td>
									<td class="day_value closed"><span><input type="text" name="exp_eating_habit"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Smoking Habbit :</td>
									<td class="day_value closed"><span><input type="text" name="exp_smoking_habbit"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drinking Habbit :</td>
									<td class="day_value closed"><span><input type="text" name="exp_drinking_habbit"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Religion :</td>
									<td class="day_value closed"><span><input type="text" name="exp_religion"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value closed"><span><input type="text" name="exp_caste"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Sub Caste :</td>
									<td class="day_value closed"><span><input type="text" name="exp_subcaste"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Expected Star :</td>
									<td class="day_value closed"><span><input type="text" name="exp_star"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Expected Dosh :</td>
									<td class="day_value closed"><span><input type="text" name="exp_dosh"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Expected Rashi :</td>
									<td class="day_value closed"><span><input type="text" name="exp_rashi"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Expected Manglik:</td>
									<td class="day_value closed"><span><input type="text" name="exp_mangalik"></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Education :</td>
									<td class="day_value closed"><span><select name="exp_education">
							<option value="none" selected>Select</option>
							<option value="">B.E</option>
							<option value="">M.E</option>
							<option value="">M.Sc</option>
							<option value="">MCA</option>
							<option value="">BCA</option>
							<option value="">B.Sc</option>
							<option value="">B.Com</option>
							<option value="">Arts</option>
							<option value="">MBBS</option>
							<option value="">MBA</option>
							<option value="">M.Pharm</option>
							<option value="">B.Tech</option>
							<option value="">M.Tech</option>
						</select></span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">City :</td>
									<td class="day_value closed"><span><input type="text" name="exp_city"></span></td>
								</tr>
							 </tbody>
						  </table><br><br>
						<button type="submit">Update profile</button>
						   <br><br><br><br><br>
				        </div>
				     </div>
				 </div>
		     </div>
		  </div>
	   </div>
   	 </div>
</form >
	   {% endfor %}

<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>
<div class="footer">
    	<div class="container">
    		<div class="col-md-4 col_2">
    			<h4>About Us</h4>
    			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Help & Support</h4>
    			<ul class="footer_links">
    				<li><a href="#">24x7 Live help</a></li>
    				<li><a href="#">Contact us</a></li>
    				<li><a href="#">Feedback</a></li>
    				<li><a href="#">FAQs</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Quick Links</h4>
    			<ul class="footer_links">
    				<li><a href="#">Privacy Policy</a></li>
    				<li><a href="#">Terms and Conditions</a></li>
    				<li><a href="#">Services</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>Social</h4>
    			<ul class="footer_social">
				  <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
			    </ul>
    		</div>
    		<div class="clearfix"> </div>
    		<div class="copy">
		      <p>Copyright © 2015 Marital . All Rights Reserved  | Design by <a href="http://Cravitaindia.com/" target="_blank">Cravitaindia</a> </p>
	        </div>
    	</div>
</div>

<!-- FlexSlider -->
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>

   </div>
  </div>
</div>
</div>
</body>
</html>